@import url("fonts.css");
@import url("variables.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  font-family: Gilroy, sans-serif;
  padding-top: 0.5rem;
  font-size: var(--font-size-default);
}

.calculator {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: clamp(350px, 90%, 500px);
  display: flex;
  margin: auto;
  flex-flow: row wrap;
  column-gap: 0.5em;
  border: 1px solid #00000030;
}

.display {
  width: 100%;
  height: min(15%, 85px);
}

.displayOutput {
  background: #0005;
  color: #00ff88;
  height: 100%;
  font-size: 2rem;
  padding: 1rem 1rem;
  text-align: right;
  overflow-x: auto;
  border-bottom: 1px solid #0002;
  width: 100%;
  display: block;
  font-family: Orbitron, "Courier New", Courier, monospace;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  width: 100%;
  height: 85%;
  gap: 1em;
  padding: 10px;
}

button {
  border: none;
  border-radius: 15px;
  background: #00000015;
  color: #fff;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: bulur(5px);
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 15px #0002;
  background: #0003;
}

button:active {
  transform: translateY(0);
  box-shadow: none;
}

.zero-button {
  grid-column: 1 / 3;
}

@media (orientation: portrait) {
  .calculator {
    height: 80dvh;
  }
}

@media (orientation: landscape) {
  .calculator {
    height: 95dvh;
  }
}
